@charset "UTF-8";

* {margin: 0; padding: 0;}

:root {
    --fonte1: Arial;
    --degrade: linear-gradient(to right, var(--cor2), var(--cor1));
    --cor1: white;
    --cor2: #293846;
    --cor3: #9abedd;
}

/* BODY */
body {
    overflow-x: hidden;
    background-image: linear-gradient(80deg, #646464, #333333);
    font-family: var(--fonte1);
    color: white;
}

/* NAV */
header {
    z-index: 1000;
    transition-duration: .4s;
}
.logo {
    width: 200px;
    height: 120px;
    object-fit: cover;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navDesktop {
    backdrop-filter: blur(6px);
    width: 500px;
    z-index: 100;
    padding: 20px;
    border-radius: 20px;
}
.navDesktop.active {
    background-image: linear-gradient(80deg, rgb(252, 226, 201, 0.1), rgb(68, 60, 54, 0.1));
    position: fixed;
    right: 10vw;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 30px;
}
nav a {
    transition-duration: .3s;
    padding: 20px;
    font-weight: 600;
    color: var(--cor1);
}
nav a:hover {
    color: #9abedd;
}

/* NavMobile */
.mobile-btn, .navMobile {
    display: none;
    cursor: pointer;
}
.row {
    width: 35px;
    border: 1px solid var(--cor1);
    margin: 5px;
}
@media (max-width: 660px) {
    .navDesktop {
        display: none;
    }
    .mobile-btn {
        display: block;
    }
    header {
        position: sticky;
        top: -0px;
        opacity: 0.94;
        backdrop-filter: blur(5px);
        background-image: linear-gradient(80deg, rgb(100, 100, 100, 0.1), rgb(51, 51, 51, 0.1));
        margin-bottom: 30px;
    }
}
.navMobile {
    position: absolute;
    top: 19vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background-image: linear-gradient(80deg, #646464, #333333);
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
}
.navMobile.active {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    align-items: center;
    transform: translateX(0);
    z-index: 4;
}
@media (max-width: 990px) {
    .navDesktop a {
        padding: 2px;
    }
}


/* MAIN */
main {
    padding: 0px;
    margin: auto;
}
section.poster-inicial {
    display: flex;
    align-items: top;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    column-gap: 16px;
}
.poster-introduction {
    max-width: 500px;
    color: var(--cor1);
}
h2.pedrojr {
    font-size: 4em;
    color: var(--cor3);
}
.poster-introduction h3 {
    font-size: 30px;
    color: var(--cor1);
}
.poster-introduction p {
    font-size: 20px;
    margin: 6px 0px 35px;
}
a.solicitar {
    background-image: linear-gradient(80deg, rgb(252, 226, 201, 0.1), rgb(68, 60, 54, 0.1));
    backdrop-filter: blur(6px);
    border-radius: 7px;
    padding: 20px 30px;
}
.solicitar:hover {
    background-color: rgb(252, 226, 201, 0.2);
}
.poster-introduction, .poster-net {
    padding-top: 5rem;
}
.poster-net {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
a.poster-link {
    font-size: 30px;
    color: var(--cor1);
    transition-duration: 0.3s;
}
a.poster-link:hover {
    color: #9abedd;
}
.consultant {
    height: auto;
    width: 300px;
    opacity: 0.10;
    object-fit: cover;
    position: relative;
    z-index: 1;
    transition-duration: 6s;
    margin-bottom: -126px;
}
.consultant.con-active {
    opacity: 0.90;
}
.consultant img {
    width: 400px;
}

@media (max-width: 635px) {
    .poster-net {
        display: none;
    }
}
@media (max-width: 710px) {
    .poster-introduction, .poster-net {
        padding-top: 0;
    }
}
@media (max-width: 860px) {
    .poster-introduction {
        text-align: center;
    }
}
@media (max-width: 1005px) {
    .poster-net {
        display: none;
    }
}

.main-rows {
    height: 5px;
    background-image: var(--degrade);
    width: 100%;
    position: relative;
    z-index: 3;
    margin: 0px 0px 8em;
}

/* Serviços */
.container {
    display: flex;
    align-items: top;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 30px;
}
.container-item {
    backdrop-filter: blur(5px);
    width: 320px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.servi-icon {
    font-size: 180px;
}
.servicos p {
    font-size: 18px;
}

/* Diferenciais */
section.diferenciais {
    margin-bottom: 5em;
}
.diferenciais article {
    padding: 20px;
    height: auto;
    margin-bottom: 50px;
}
article.abordagem {
    background: url('imagens/abordagem.jpg') center center/cover no-repeat;
}
.atualizacao {
    background: url('imagens/diferenciais.jpg') center center/cover no-repeat;
}
.resultados {
    background: url('imagens/foco.jpg') center top/cover no-repeat;
}
.diferenciais p {
    background-color: rgba(20, 18, 16, 0.521);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    font-size: 19px;
    padding: 10px;
    max-width: 400px;
}
.diferenciais h2 {
    border-bottom: 3px solid var(--cor1);
    color: var(--cor3);
    font-size: 2.2em;
    max-width: 500px;
    margin-bottom: 20px;
}

/* Sobre */
section.sobre {
    position: relative;
    z-index: 2;
    margin-bottom: 7em;
}
.sobre p {
    background-color: #515050;
    padding: 20px;
    border-radius: 4px;
    width: 530px;
}
.sobre img {
    max-width: 400px;
    object-fit: cover;
}
article.sobre {
    width: 100%;
    height: auto;
}
article.container {
    align-items: center;
}

/* Back button */
#back-button {
    display: none;
    border-radius: 50%;
    background: rgb(68, 60, 54, 0.1);
    backdrop-filter: blur(6px);
    padding: 10px 10px 1px;
    color: var(--cor1);
    font-size: 60px;
    position: fixed;
    right: 4vw;
    bottom: 5vh;
    transition-duration: .2s;
    z-index: 8;
}
#back-button:active {
    background: rgb(252, 226, 201, 0.2);
}

@media (max-width: 400px) {
    .servicos p, .diferenciais p, .poster-introduction p, .sobre p {
        font-size: 16px;
    }
}

/* Texts and tags */
section {
    margin-bottom: 7em;
    padding: 30px;
}
h1 {
    font-size: 2.8em;
    color: var(--cor3);
    border-bottom: 3px solid var(--cor1);
    max-width: 1000px;
    min-width: auto;
    margin-bottom: 80px;
}
ul {
    list-style-type: none;
}
p {
    z-index: 3;
    line-height: 1.6;
    color: rgb(226, 224, 224);
    text-shadow: 1px 1px 1px #474b4e;
    font-weight: 500;
    font-size: 19px;
}
a {
    text-decoration: none;
    color: white;
}
@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }
    .diferenciais h2 {
        font-size: 1.5em;
    }
}

/* FOOTER */
footer {
    margin-top: 4em;
    background-color: var(--cor2);
    padding: 60px 20px 8px;
    text-align: center;
}
/* Newsletter */
aside.newsletter {
    margin-bottom: 5em;
}
.newsletter h2 {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 40px;
    border-bottom: inherit;
}
.newsletter p {
    text-align: center;
}
input {
    border: 2px solid var(--cor1);
    border-radius: 8px 2px 8px 2px;
    padding: 20px;
    color: var(--cor1);
    margin: 4px 0px;
    background-color: transparent;
    transition-duration: .4s;
}
input#sub {
    background-color: var(--cor2);
    font-weight: bold;
    cursor: pointer;
}
#sub:hover {
    background-color: var(--cor1);
    color: var(--cor2);
}

.footer-flex {
    display: flex;
    align-items: top;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 20px;
    margin-bottom: 30px;
}
.footer-row {
    background-color: var(--cor1);
    width: 2px;
    height: 80vh;
}
.footer-flex h2 {
    margin-top: 30px;
}
.footer-flex-item {
    width: 260px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
}
@media (max-width: 615px) {
    .footer-row {
        display: none;
    }
}